@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-club-green: #064e3b;
  --color-club-dark: #022c22;
  --color-club-gold: #d97706;
  --color-club-cream: #fdfbf7;
  --color-club-gray: #a8a29e;

  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
